<!doctype html>

<head>
    <title>Hello from Jinja!</title>
</head>

<body>
    <h1>Coucou</h1>
    <div id="sse-container" hx-ext="sse" sse-connect="/sse">
        <h2>Questions</h2>
        <button hx-post="/h/create-question" hx-swap="none">Create question</button>
        <div hx-get="/h/questions" hx-trigger="load, sse:questioncreated, sse:questiondeleted">
        </div>
        <h2>Quizzes</h2>
        <button hx-post="/h/create-quizz" hx-swap="none">Create quizz</button>
        <div hx-get="/h/quizzes" hx-trigger="load, sse:quizzcreated, sse:quizzdeleted">
        </div>
    </div>
</body>

<script src="https://unpkg.com/htmx.org@1.9.4"></script>
<script src="https://unpkg.com/htmx.org@1.9.4/dist/ext/sse.js"></script>

</html>