<ul>
    {% for question in questions %}
    <li>
        {{ question.id }}
        <button hx-post="/h/delete-question/{{ question.id }}" hx-include="" hx-swap="none">X</button>
    </li>
    {% endfor %}
</ul>