<ul>
    {% for quizz in quizzes %}
    <li>
        {{ quizz.id }}
        <button hx-post="/h/delete-quizz/{{ quizz.id }}" hx-include="" hx-swap="none">X</button>
        <h3>Questions</h3>
        <ul>
            {% for question in quizz.questions %}
            <li>{{ question.id }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>